OPENROUTER_API_KEY=<your_openrouter_api_key>
OPENROUTER_MODEL=<your_openrouter_model>
OPENROUTER_PROVIDER=<your_openrouter_provider>
TAVILY_API_KEY=<your_tavily_api_key>
SLACK_BOT_TOKEN=<your_slack_bot_token>
SLACK_APP_TOKEN=<your_slack_app_token>
SLACK_PERSONAL_CHANNEL_ID=<your_slack_personal_channel_id>
SLACK_DEREKT_CHANNEL_ID=<your_slack_derekt_channel_id>
SLACK_PINOYSING_CHANNEL_ID=<your_slack_pinoysing_channel_id>
FB_PAGE_ID_PINOYSING=<your_fb_page_id_pinoysing>
FB_PAGE_TOKEN_PINOYSING=<your_fb_page_token_pinoysing>
DATABASE_URL=<your_database_url>
# FB_PAGE_ID_DEREKT=<your_fb_page_id_derekt>
# FB_PAGE_TOKEN_DEREKT=<your_fb_page_token_derekt>
# X_HANDLE_PINOYSING=<your_x_handle_pinoysing>
# YOUTUBE_CHANNEL_ID_PINOYSING=<your_youtube_channel_id_pinoysing>